// remove first y-axis tick
.recharts-y-axis .recharts-cartesian-axis-tick:first-child line {
 stroke: none;
}
.recharts-y-axis .recharts-cartesian-axis-tick:first-child text {
  font-size: 0;
}
.recharts-cartesian-axis-line{
    stroke:#D8D8D8;
}